<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géoinformatique - Mon Campus</title>
    <!-- OpenLayer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/6.5.0/ol.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/6.5.0/ol.css" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <!-- JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.7/proj4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<style>
    
.navbar {
    background-color: rgb(252, 216, 140);
}
.barigaback {
    background-color:rgb(255, 255, 255);
    border-radius: 3pt;
}


.tachesag{
    background-color: rgb(250, 188, 53);
}

.nav-link{
   color: black;
}
.lk{
   color: rgb(235, 76, 14);
}
/* .ltag1{
    color: crimson;
} */

</style>

<body>
    <header class="bg-info text-white text-center py-2">
        <h1 class="mb-2">MON CAMPUS</h1>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container barigaback">
                <a class="navbar-brand" href="#">UNIVERSITE DE LOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link lk" href="{% url 'accueil' %}">Accueil</a>
                        <a class="nav-link lk" href="{% url 'register' %}">S'inscrire</a>
                        <a class="nav-link lk" href="{% url 'connection' %}">Se connecter</a>
                        {% if user.is_authenticated %}
                            <a class="nav-link lk" href="{% url 'deconnection' %}">Se déconnecter</a>
                        {% endif %}
                        <a class="nav-link" href="#"> Hello {{request.user.username}} ! </a>
                        <a class="nav-link ltag1" href="#">LTAG</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="position-sticky">
                  <ul class="nav flex-column tachesag">
                      <li class="nav-item"><a class="nav-link active" href="{% url 'admin:index' %}">Administration</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:telecharger' %}">Jeux de Données</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:analyse' %}">Analyse Spatiale </a></li> 
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:statistique' %}">Statistiques </a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:carte' %}">Cartes</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:collecte' %}">Collecter</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:alerte' %}"> Alerter </a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'UL:map' %}">Géorecherche</a></li>
                  </ul>
              </div>
          </nav>

          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              {% block content %}
                 
              {% endblock %}
          </main>
      </div>
   </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 LTG-SI. Tous droits réservés.</p>
    </footer>
</body>
</html>
