{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">Analyse spatiale</h3>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Visualisez </h5>
                        <p class="card-text">Quelque operations d'analyse deja faites.
                            profitez deja en analysant les relation enntre les differents objets ainsi que leurs repartition dans l'espace du campus UL
                        </p>
                        <a href="{% url 'UL:analyse1' %}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">analusez et visualisez</h5>
                        <p class="card-text">Faites des analyses spatiles par des algorithmes disponible.
                            ce sont des algorithmes basics mais tres puisantes et utile si lon sait les utiliser pour extraires des informations
                        </p>
                        <a href="{% url 'UL:analyse2' %}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
