{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4 text-center text-md-left">Données téléchargeables aux formats suivants</h3>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>CSV</th>
                    <th>GeoJSON</th>
                    <th>GeoPackage</th>
                </tr>
            </thead>
            <tbody>
                {% for group in page_obj %}
                    <tr>
                        {% for item in group %}
                            <td>
                                <strong>{{ item.nom }}</strong>: 
                                <a href="{% url item.nom_url %}">Télécharger</a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo; Première</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">Précédente</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">
                    Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">Suivante</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">Dernière &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
