{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <h4 class="mb-4 text-center" >Recherche des points d'intérêts et Navigation </h4>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="map" style="width: 100%; height: 400px;"></div>
            <p class="bg-danger text-white p-2 mt-2">Assurez-vous d'avoir une bonne précision, car les résultats sont fournis par rapport à votre position.</p>
            <p class="mb-4">L'infrastructure la plus proche est la première à s'afficher pour chaque catégorie.</p>
        
            
            <form method="get" class="mb-3">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Recherche</button> <br> <hr>
            </form>
    
            <!-- Partager ma position -->
            <button onclick="envoyerPositionWhatsApp()" class="btn btn-success mb-3">Envoyer ma position à mon ami via WhatsApp</button>

            <div id="accuracy-message" style="display: none;" class="mb-3">
                <input type="hidden" id="id_lat" name="lat">
                <input type="hidden" id="id_lon" name="lon">
                <input type="hidden" id="id_accuracy" name="accuracy">
                <p class="mb-2">La précision estimée est <span id="accuracy-value"></span> mètres. Souhaitez-vous partager votre position ?</p>
                <button onclick="confirmCoordinates()" class="btn btn-primary">Oui</button>
                <button onclick="cancelCoordinates()" class="btn btn-danger">Annuler</button>
            </div>
           
        </div>
        <div class="col-md-6 mb-4">
            <h5 class="mt-4">Résultat pour Bâtiment</h5>
            {% for result in results1 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">{{ result.nom }}</h6>
                        <a href="#" class="btn btn-primary btn-sm" onclick="goToLocation({{ result.get_lat_as_str }}, {{ result.get_lon_as_str }})">Aller à la position</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Aucun résultat.</p>
            {% endfor %} 

            <h5>Résultat Aire de Repos</h5>
            {% for result in results2 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">{{ result.nom }}</h6>
                        <a href="#" class="btn btn-primary btn-sm" onclick="goToLocation({{ result.get_lat_as_str }}, {{ result.get_lon_as_str }})">Aller à la position</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Aucun résultat.</p>
            {% endfor %}

            <h5>Résultat pour Robinet d'eau</h5>
            {% for result in results3 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">{{ result.nom }}</h6>
                        <a href="#" class="btn btn-primary btn-sm" onclick="goToLocation({{ result.get_lat_as_string }}, {{ result.get_lon_as_string }})">Aller à la position</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Aucun résultat.</p>
            {% endfor %}

            <h5>Résultat pour Toilette Isolé</h5>
            {% for result in results4 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">{{ result.nom }}</h6>
                        <a href="#" class="btn btn-primary btn-sm" onclick="goToLocation({{ result.get_lat_as_string }}, {{ result.get_lon_as_string }})">Aller à la position</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Aucun résultat.</p>
            {% endfor %}

            <h5>Résultat pour Poubelle</h5>
            {% for result in results5 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">{{ result.nom }}</h6>
                        <a href="#" class="btn btn-primary btn-sm" onclick="goToLocation({{ result.get_lat_as_string }}, {{ result.get_lon_as_string }})">Aller à la position</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Aucun résultat.</p>
            {% endfor %}
        </div>
    </div>
    
</div>
   
    <script>
        var map = L.map('map').setView([6.1377337280227895, 1.2208812782937144], 13);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
    
        map.on('locationfound', function(e) {
            const lat = e.latlng.lat;
            const lon = e.latlng.lng;
            const accuracy = e.accuracy;
            // pour remplir auto les chanmp de la positions de l'utilisateur
            document.getElementById('id_lat').value = lat;
            document.getElementById('id_lon').value = lon;
            document.getElementById('id_accuracy').value = accuracy;
    
            document.getElementById('accuracy-value').textContent = accuracy;
            document.getElementById('accuracy-message').style.display = 'block';
    
            // Supprimer les anciens cercles de précision
            map.eachLayer(function (layer) {
                if (layer instanceof L.Circle) {
                    layer.removeFrom(map);
                }
            });
    
            // Créer un cercle de précision autour de la position actuelle
            L.circle([lat, lon], {
                radius: accuracy,
                color: 'yellow',
                fillColor: '#3186cc',
                fillOpacity: 0.2,
            }).addTo(map).bindPopup(`Précision : ${accuracy} mètres`).openPopup();
    
            // Créer un marqueur pour la position actuelle
            const currentLocationMarker = L.marker([lat, lon]).addTo(map);
            currentLocationMarker.bindPopup("Vous êtes ici").openPopup();
        });
    
        map.on('locationerror', function(e) {
        const errorMessage = "Impossible d'obtenir la géolocalisation. Assurez-vous d'autoriser l'accès à la localisation et réessayez.";
        document.getElementById('accuracy-message').innerHTML = `<div class="alert alert-danger">${errorMessage}</div>`;
        });
    
        map.locate({ setView: true, maxZoom: 16 });
    </script>
    
         <!-- coordonner a comparer avec les coordone que renvoi le formulaire de requete de recherche -->
    <script>
        function envoyerPositionWhatsApp() {
            const lat = document.getElementById('id_lat').value;
            const lon = document.getElementById('id_lon').value;
            
            const url = `https://api.whatsapp.com/send?text=Ma%20position%20:%20https://maps.google.com/maps?q=${lat},${lon}`;
            window.location.href = url;
        }
    </script>
    

     <script>
        {% for result in results5 %}
            var lat = {{ result.get_lat_as_string }};
            var lon = {{ result.get_lon_as_string }};
            L.marker([lat, lon]).addTo(map)
                .bindPopup("{{ result.nom }}")
                .bindTooltip("{{ result.nom }}")
                .openPopup();
        {% endfor %}

        {% for result in results4 %}
            var lat = {{ result.get_lat_as_string }};
            var lon = {{ result.get_lon_as_string }};
            L.marker([lat, lon]).addTo(map)
                .bindPopup("{{ result.nom }}")
                .bindTooltip("{{ result.nom }}")
                .openPopup();
        {% endfor %}


        {% for result in results3 %}
        var lat = {{ result.get_lat_as_string }};
        var lon = {{ result.get_lon_as_string }};
        L.marker([lat, lon]).addTo(map)
            .bindPopup("{{ result.nom }}")
            .bindTooltip("{{ result.nom }}")
            .openPopup();
        {% endfor %}

        {% for result in results2 %}
            var lat = {{ result.get_lat_as_str }};
            var lon = {{ result.get_lon_as_str }};
            L.marker([lat, lon]).addTo(map)
                .bindPopup("{{ result.nom }}")
                .bindTooltip("{{ result.nom }}")
                .openPopup();
        {% endfor %}

        {% for result in results1 %}
            var lat = {{ result.get_lat_as_str }};
            var lon = {{ result.get_lon_as_str }};
            L.marker([lat, lon]).addTo(map)
                .bindPopup("{{ result.nom }}")
                .bindTooltip("{{ result.nom }}")
                .openPopup();
        {% endfor %}


        function goToLocation(lat, lon) {
            const currentLat = document.getElementById('id_lat').value; // Latitude actuelle de l'utilisateur
            const currentLon = document.getElementById('id_lon').value; // Longitude actuelle de l'utilisateur

            if (currentLat && currentLon) {
                // Construit l'URL pour l'itinéraire entre la position actuelle et la destination
                const url = `https://www.google.com/maps/dir/?api=1&origin=${currentLat},${currentLon}&destination=${lat},${lon}&travelmode=driving`;
                window.open(url, '_blank');
            } else {
                // Demander à l'utilisateur de saisir son point de départ ou activer la géolocalisation
                const url = `https://www.google.com/maps/dir/?api=1&destination=${lat},${lon}&travelmode=driving`;
                window.open(url, '_blank');
            }
        }
    </script>

    <script>
        function confirmCoordinates() {
            // Soumettez le formulaire pour enregistrer les coordonnées
            document.querySelector('form').submit();
        }
    
        function cancelCoordinates() {
            // Annulez la collecte des coordonnées
            document.getElementById('accuracy-message').style.display = 'none';
        }
    </script>

{% endblock %}